/* components/AdminPanel.module.css */
.horizontalBar{
  position: fixed;
  right: 0;
  top: 0;
  width: 87%;
  height: 4rem;
  background-color: #F6F4F3;
  z-index: 1000;
  padding: 0.625rem 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.1);
}

.adminContainer {
  position: fixed;
  right: 6.25rem;
  top: 0.5rem;
  padding: 0.625rem;
}

.adminLink {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  display: flex;
  align-items: center;
}

.adminLink .navLink {
  display: inline-block;
  margin-left: 0.625rem;
  background-color: transparent;
}

.adminLink .navLink:hover {
  background-color: #4CAF50; /* Different color for admin link */
}

.userIcon {
  width: 1.875rem;
  height: 1.875rem;
}

.dropdownContent {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  top: 100%;
  min-width: 10rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
  padding: 0.75rem 1rem;
}

.dropdownContent a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.navLink {
  padding: 0.625rem 1.5625rem;
  text-decoration: none;
  font-size: 1.125rem;
  color: #333;
  display: flex;
}

.userDropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.flexContainer {
  display: flex;
  align-items: center;
}
