/* components/AdminPanel.module.css */
.horizontalBar{
  position: fixed;
  right: 0;
  top: 0;
  width: 87%;
  height: 65px;
  background-color: #F6F4F3;
  z-index: 1000;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}


.adminContainer {
  position: fixed;
  right: 100px;
  top: 8px;
  padding: 10px;
}

.adminLink {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
}

.adminLink .navLink {
  display: inline-block;
  margin-left: 10px;
  background-color: transparent;
}

.adminLink .navLink:hover {
  background-color: #4CAF50; /* Different color for admin link */
}

.userIcon {
  width: 30px;
  height: 30px;
}

.dropdownContent {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  top: 100%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.navLink {
  padding: 10px 25px;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  display: block;
}

.userDropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.flexContainer {
  display: flex;
  align-items: center;
}
