@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


html, body {
  background-color: #ffffff; /* Ensures entire page background is white */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
