/* styles/Home.module.css */

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -70px;
  margin-left: -70px;
}

.logoContainer {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  font-size: 1.5rem;
  color: #333;
}
